{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h2 class="mt-5"><center>Some Projects!</center></h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    <br>
    <a role="button" class="btn" href="{{project.url}}"><i class="fas fa-external-link-square-alt"></i></a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.des}}</p>

  </div>
  {% endfor %}

</div>
<center><a role="button" class="btn btn-warning btn-lg" href="{% url 'home' %}">Home</a></center>
{% endblock %}
